   <div *ngIf="!isGame">
    <p>Deck Size</p>

    <div class="menu-item">
        <select #optionValue>
            <option *ngFor="let item of cardNumberSelectArray">{{ item }}</option>
        </select>
    </div>
    <div class="menu-item">
        <button type="button" class="btn btn-danger" (click)="createCardDeck()" (click)="getSelectValue()">Start New Game</button>
    </div>
</div>

   <div  *ngIf="isGame" class="game-info-container">
        <div class="game-info">
            Current tries: <span id="current-tries">0</span>
        </div>
        <div class="game-best">
            Best: <span id="current-best">0</span>
        </div>
        <div class="restart-button">
            <button class="btn primary-btn">Restart</button>
        </div>
    </div>
    <div class="game-container">
        <div *ngFor="let item of itemlist" class="card">
            <div class="card-back card-face">
                
            </div>
            <div class="card-front card-face">
                <img [src]=(item.img)>
            </div>
        </div>
    </div>