    <div class="game-info-container">
        <div class="game-info">
            Current tries: <span id="current-tries">0</span>
        </div>
        <div class="game-best">
            Best: <span id="current-best">0</span>
        </div>
        <div class="restart-button">
            <button class="btn primary-btn">Restart</button>
        </div>
    </div>
    <div class="game-container">
        <div *ngFor="let item of itemlist" class="card">
            <div class="card-back card-face">
                
            </div>
            <div class="card-front card-face">
                <img [src]=(item.img)>
            </div>
        </div>
        <div (click)="createCardDeck()" class="card"></div>
    </div>